<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/35d5e4a6-c1f0-4438-b9a4-c276b933ed31/resourceGroups/WindowsProgramming/providers/Microsoft.Web/sites/RecipeRecommandWepApp</ResourceId>
    <ResourceGroup>WindowsProgramming</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://reciperecommandwepapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b992de7b-a3dd-4eb7-8ba5-e4ea54ba6dcf</ProjectGuid>
    <PublishUrl>https://reciperecommandwepapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$RecipeRecommandWepApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>